.card {
  background-color: white;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #e2e8f0;
  transition: box-shadow 0.15s;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 0.375rem;
  padding: 1.5rem 1.5rem 0;
}

.card-title {
  line-height: 1;
  font-size: 1.125rem;
  font-weight: 600;
  color: #0f172a;
}

.card-description {
  color: #64748b;
  font-size: 0.875rem;
}

.card-content {
  padding: 0 1.5rem;
}

.card-content:last-child {
  padding-bottom: 1.5rem;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 0 1.5rem 1.5rem;
}
