.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  color: #0f172a;
  user-select: none;
}

.label[data-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}
